In [1]:
%matplotlib inline
from __future__ import print_function, division

from collections import Counter, defaultdict
from configparser import RawConfigParser
import matplotlib.pyplot as plt
import numpy as np
from os.path import expanduser
import pandas as pd
import re
import requests

In [2]:
OUT_FOLDER = '../Output-data/'
IN_FILE = '../Data/test.txt'

## Define positions of data elements as described in documentation

There are two types of files: status and dynamic

In [42]:
# Define positions for dynamic files

start_dyn = [0,9,32,36,38,46,52,54,56,62,71,75,76,82,84]
end   = [9,32,36,38,46,52,54,56,62,71,75,76,82,84,85]

# index of data elements to access lists 'start' and 'end'
ID_DYN      = 0
NAME_DYN    = 1
AGENCY_DYN  = 2
ACCES_IND_DYN=3
EFFEC_DT_DYN= 4
AGE_DYN     = 5
PAY_DYN     = 6
GRADE_DYN   = 7
LOS_DYN     = 8
STATION_DYN = 9
OCCUP       =10
OCCUP_CAT   =11
ADJ_PAY     =12
TYPE_APP    =13
WORK_SCHE   =14

In [43]:
_id=[]
_name=[]
_agency=[]
_accession=[]
_effec_dt=[]
_age=[]
_pay=[]
_grade=[]
_los=[]
_duty=[]
_occup=[]
_occup_cat=[]
_adj_pay=[]
_typ_app=[]
_work_sche=[]

f = open(IN_FILE, 'r')

for line in f:
    
    _id.append (line[start[ID_DYN]:end[ID_DYN]])
    _name.append (line[start[NAME_DYN]:end[NAME_DYN]])
    _agency.append (line[start[AGENCY_DYN]:end[AGENCY_DYN]])
    _accession.append (line[start[ACCES_IND_DYN]:end[ACCES_IND_DYN]])
    _effec_dt.append (line[start[EFFEC_DT_DYN]:end[EFFEC_DT_DYN]])
    _age.append (line[start[AGE_DYN]:end[AGE_DYN]])
    _pay.append (line[start[PAY_DYN]:end[PAY_DYN]])
    _grade.append (line[start[GRADE_DYN]:end[GRADE_DYN]])
    _los.append (line[start[LOS_DYN]:end[LOS_DYN]])
    _duty.append (line[start[STATION_DYN]:end[STATION_DYN]])
    _occup.append (line[start[OCCUP]:end[OCCUP]])
    _occup_cat.append (line[start[OCCUP_CAT]:end[OCCUP_CAT]])
    _adj_pay.append (line[start[ADJ_PAY]:end[ADJ_PAY]])
    _typ_app.append (line[start[TYPE_APP]:end[TYPE_APP]])
    _work_sche.append (line[start[WORK_SCHE]:end[WORK_SCHE]])

f.close()

In [44]:
dod_dyn = pd.DataFrame({'empid': _id, 'agency': _agency, 'accession_DYN': _accession, 'effective_dt': _effec_dt,
                               'age': _age, 'pay_plan': _pay, 'grade': _grade, 'los': _los, 'duty_station': _duty, 'occupation': _occup ,
                                'occupation_cat':_occup_cat, 'adjusted_pay':_adj_pay, 'type_appointment': _typ_app, 'work_schedule': _work_sche })

In [45]:
dod_dyn.head(10)

,accession_IDX,adjusted_pay,age,agency,duty_station,effective_dt,empid,grade,los,occupation,occupation_cat,pay_plan,type_appointment,work_schedule
0,AD,047284,40-44,NV76,#########,20071001,010038229,09,UNSP,2001,T,GS,38,F
1,SC,034633,45-49,NV76,#########,20071124,010100951,05,15-19,0326,T,GS,10,F
2,AC,027560,30-34,NV76,#########,20071015,010447987,04,5-9,0326,C,GS,15,F
3,AD,027705,20-24,NV76,#########,20071029,010653634,04,UNSP,0326,C,GS,42,P
4,SC,027705,25-29,NV76,#########,20071120,010653634,04,< 1,0326,C,GS,42,P
5,AD,022174,20-24,NV76,#########,20071015,010732983,02,UNSP,0399,O,GS,32,P
6,SA,033286,65-69,NV76,#########,20071110,010758213,05,3-4,2102,T,GS,20,F
7,SD,068787,75+,NV76,#########,20071130,010824925,02,25-29,1910,A,YA,10,F

In [39]:
dod_dyn.describe()

,accession_ind,adjusted_pay,age,agency,duty_station,effective_dt,empid,grade,los,occupation,occupation_cat,pay_plan,type_appointment,work_schedule
count,8,8,8,8,8,8,8,8,8,8,8,8,8,8
unique,5,7,7,1,1,7,7,4,6,5,4,2,6,2
top,AD,027705,20-24,NV76,#########,20071015,010653634,04,UNSP,0326,C,GS,42,F
freq,3,2,2,8,8,2,2,3,3,4,3,7,2,5

In [41]:
len(dod_dyn)

8

In [ ]:
dod_dyn.to_csv('../Output-data/dod_dyn.csv')

In [46]:
import glob
path = "../Data/*.txt"
for fname in glob.glob(path):
    print(fname)

../Data\DEC2007.DOD.FO05M4.TXT
../Data\DEC2007.NONDOD.FO05M3.TXT
../Data\DEC2008.DOD.FO05M4.TXT
../Data\DEC2008.NONDOD.FO05M3.TXT
../Data\DEC2009.DOD.FO05M4.TXT
../Data\DEC2009.NONDOD.FO05M3.TXT
../Data\JUN2007.DOD.FO05M4.TXT
../Data\JUN2007.NONDOD.FO05M3.TXT
../Data\JUN2008.DOD.FO05M4.TXT
../Data\JUN2008.NONDOD.FO05M3.TXT
../Data\JUN2009.DOD.FO05M4.TXT
../Data\JUN2009.NONDOD.FO05M3.TXT
../Data\MAR2007.DOD.FO05M4.TXT
../Data\MAR2007.NONDOD.FO05M3.TXT
../Data\MAR2008.DOD.FO05M4.TXT
../Data\MAR2008.NONDOD.FO05M3.TXT
../Data\MAR2009.DOD.FO05M4.TXT
../Data\MAR2009.NONDOD.FO05M3.TXT
../Data\SEP2007.DOD.FO05M4.TXT
../Data\SEP2007.NONDOD.FO05M3.TXT
../Data\SEP2008.DOD.FO05M4.TXT
../Data\SEP2008.NONDOD.FO05M3.TXT
../Data\SEP2009.DOD.FO05M4.TXT
../Data\SEP2009.NONDOD.FO05M3.TXT
../Data\Status_DoD_2007_03.txt
../Data\Status_DoD_2007_06.txt
../Data\Status_DoD_2007_09.txt
../Data\Status_DoD_2007_12.txt
../Data\Status_DoD_2008_03.txt
../Data\Status_DoD_2008_06.txt
../Data\Status_DoD_2008_09.txt
../Data\Status_DoD_2008_12.txt
../Data\Status_DoD_2009_03.txt
../Data\Status_DoD_2009_06.txt
../Data\Status_DoD_2009_09.txt
../Data\Status_DoD_2009_12.txt
../Data\Status_Non_DoD_2007_03.txt
../Data\Status_Non_DoD_2007_06.txt
../Data\Status_Non_DoD_2007_09.txt
../Data\Status_Non_DoD_2007_12.txt
../Data\Status_Non_DoD_2008_03.txt
../Data\Status_Non_DoD_2008_06.txt
../Data\Status_Non_DoD_2008_09.txt
../Data\Status_Non_DoD_2008_12.txt
../Data\Status_Non_DoD_2009_03.txt
../Data\Status_Non_DoD_2009_06.txt
../Data\Status_Non_DoD_2009_12.txt
../Data\test.TXT